In [2]:
#!python3 --version
#from pyspark import SparkContext
#sc = SparkContext.getOrCreate()
#print(sc.pythonVer)

In [3]:
#import os
#os.environ["PYSPARK_PYTHON"] = "python3"  # O "python" si ese es tu ejecutable

In [4]:
!pip list

Package           Version
----------------- -----------
asttokens         3.0.0
colorama          0.4.6
comm              0.2.2
debugpy           1.8.11
decorator         5.1.1
et_xmlfile        2.0.0
executing         2.1.0
ipykernel         6.29.5
ipython           8.31.0
jedi              0.19.2
jupyter_client    8.6.3
jupyter_core      5.7.2
matplotlib-inline 0.1.7
nest-asyncio      1.6.0
numpy             2.2.1
openpyxl          3.1.5
packaging         24.2
pandas            2.2.3
parso             0.8.4
platformdirs      4.3.6
prompt_toolkit    3.0.48
psutil            6.1.1
pure_eval         0.2.3
py4j              0.10.9.7
Pygments          2.18.0
pyspark           3.5.4
python-dateutil   2.9.0.post0
pytz              2024.2
pywin32           308
pyzmq             26.2.0
six               1.17.0
stack-data        0.6.3
tornado           6.4.2
traitlets         5.14.3
typing_extensions 4.12.2
tzdata            2024.2
wcwidth           0.2.13
xlrd              2.0.1

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: C:\Users\paula\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [5]:
pip install pandas numpy

Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: C:\Users\paula\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\users\paula\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.2.3)
Requirement already satisfied: numpy in c:\users\paula\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\paula\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\paula\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\paula\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\paula\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [6]:
#!pip uninstall -y pyspark
#pip uninstall -yspark

In [ ]:
#!pip cache purge

#!pip install pyspark==3.5.2

In [8]:
pip install xlrd

Requirement already satisfied: xlrd in c:\users\paula\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: C:\Users\paula\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [9]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\paula\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\paula\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: C:\Users\paula\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [10]:
#Importar librerias
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
import pandas as pd
import glob
from pyspark.sql.types import StructType, StructField, StringType, FloatType
import os
import sys

In [11]:

file_path = r'C:\Users\paula\UNIR\MasterBigDatayVisualAnalytics\cuatrimestre2\TFM-TFE\Entrega3\TESIS_Maestria_ETL\ETLProyect\ArchivosEntrada\

# Especificar la ruta del archivo Excel
output_path = r'C:\Users\paula\UNIR\MasterBigDatayVisualAnalytics\cuatrimestre2\TFM-TFE\Entrega3\TESIS_Maestria_ETL\ETLProyect\ArchivosSalida\Concatenado2.xlsx'

# Especificar la ruta del archivo Excel
output_path3 = r'C:\Users\paula\UNIR\MasterBigDatayVisualAnalytics\cuatrimestre2\TFM-TFE\Entrega3\TESIS_Maestria_ETL\ETLProyect\ArchivosSalida\Concatenado3.xlsx'

In [18]:

#Código para concatenar filas 3 y 4 para los titulos 

#Lectura del archivo
df = pd.read_excel(file_path, sheet_name="Sheet2", skiprows=3, header=None)
file_name = os.path.basename(file_path)
print("Nombre del archivo:", file_name)

#Antes de unificar
print ("Titulos de archivo fuente:")
print(df)

#Combinar filas 3 y 4 

new_columns = df.iloc[2].astype(str) + df.iloc[3].astype(str)
df.columns = new_columns  # Asignar los nuevos encabezados
df = df[4:]  # Eliminar las filas de encabezado original (0, 1 y 2)
# Reiniciar el índice
df.reset_index(drop=True, inplace=True)

print("Después de la unificación:")
print(df)

print(df.dtypes)

# Agregar la columna del nombre del archivo
df["file_name"] = file_name

#Tranformación 1 - Nulos
# Eliminar columnas donde todos los valores son NaN
print ("Transformacion Nulos\n")
df = df.dropna(axis=1, how='all')
print(df) 

#Tranformación 2 - Limpia y Convertir las columnas numéricas a float
df['DISPENSEDTOTAL($)'] = pd.to_numeric(df['DISPENSEDTOTAL($)'], errors='coerce').fillna(0).astype(float)
df['TRANSAMOUNT($)'] = pd.to_numeric(df['TRANSAMOUNT($)'], errors='coerce').astype(float)

#Tranformación 3 - Reemplaza NaN con un valor predeterminado si es necesario
df = df.fillna(0)

#Tranformación 4-  Convierte las columnas categóricas o de texto a tipo `str`
df['TRANSTYPE'] = df['TRANSTYPE'].astype(str)

print(df)


df = df.drop(['DISPENSED QTYS$1', 'nan$5', 'nan$10', 'nan$20', 'nan$50', 'nan$100'], axis=1)

# Guardar el DataFrame de Pandas en Excel
df.to_excel(output_path, index=False, engine='openpyxl')  # Usa openpyxl como motor
print(f"Archivo exportado exitosamente a {output_path}")

Nombre del archivo: ATM_Transaction_Summary-20240903-0919.xls
Titulos de archivo fuente:
      0                    1                 2      3           4   \
0    NaN                  NaN               NaN    NaN         NaN
1    NaN                  NaN               NaN    NaN         NaN
2    NaN                 CS25          SEQUENCE    NaN        HOST
3    NaN          DATE & TIME            NUMBER  CARD#  SEQ NUMBER
4    NaN  08/23/2024 08:13:19  2024082308124108   7816        1452
...   ..                  ...               ...    ...         ...
1199 NaN  08/31/2024 04:15:39  2024083104150508   7577        2874
1200 NaN  08/31/2024 04:45:25  2024083104445708   6160         NaN
1201 NaN  08/31/2024 04:48:35  2024083104480808   1284        2877
1202 NaN  08/31/2024 05:10:02  2024083105092708   5484        2878
1203 NaN              Totals:               NaN    NaN         NaN

              5   6   7          8               9    10   11   12   13    14  \
0            NaN NaN NaN        NaN             NaN  NaN  NaN  NaN  NaN   NaN
1            NaN NaN NaN        NaN             NaN  NaN  NaN  NaN  NaN   NaN
2          TRANS NaN NaN      TRANS  DISPENSED QTYS  NaN  NaN  NaN  NaN   NaN
3           TYPE NaN NaN  AMOUNT($)              $1   $5  $10  $20  $50  $100
4     Withdrawal NaN NaN        100               0    0    0    0    0     1
...          ...  ..  ..        ...             ...  ...  ...  ...  ...   ...
1199  Withdrawal NaN NaN         60               0    0    0    3    0     0
1200  Withdrawal NaN NaN        100               0    0    0    0    0     0
1201  Withdrawal NaN NaN         40               0    0    0    2    0     0
1202  Withdrawal NaN NaN        200               0    0    0    0    0     2
1203         NaN NaN NaN     323640             NaN  NaN  NaN  NaN  NaN   NaN

             15  16  17         18         19
0           NaN NaN NaN        NaN        NaN
1           NaN NaN NaN        NaN        NaN
2         COINS NaN NaN  DISPENSED        NaN
3      TOTAL($) NaN NaN   TOTAL($)     STATUS
4             0 NaN NaN        100  Completed
...         ...  ..  ..        ...        ...
1199          0 NaN NaN         60  Completed
1200          0 NaN NaN          0     Denied
1201          0 NaN NaN         40  Completed
1202          0 NaN NaN        200  Completed
1203  Completed NaN NaN     241360        NaN

[1204 rows x 20 columns]
Después de la unificación:
      nannan      CS25DATE & TIME    SEQUENCENUMBER nanCARD# HOSTSEQ NUMBER  \
0        NaN  08/23/2024 08:13:19  2024082308124108     7816           1452
1        NaN  08/23/2024 08:27:15  2024082308262908     9584           1453
2        NaN  08/23/2024 08:46:09  2024082308453408     4299           1454
3        NaN  08/23/2024 09:06:48  2024082309063308     2610            NaN
4        NaN  08/23/2024 09:08:19  2024082309074608     6718           1456
...      ...                  ...               ...      ...            ...
1195     NaN  08/31/2024 04:15:39  2024083104150508     7577           2874
1196     NaN  08/31/2024 04:45:25  2024083104445708     6160            NaN
1197     NaN  08/31/2024 04:48:35  2024083104480808     1284           2877
1198     NaN  08/31/2024 05:10:02  2024083105092708     5484           2878
1199     NaN              Totals:               NaN      NaN            NaN

       TRANSTYPE  nannan  nannan TRANSAMOUNT($) DISPENSED QTYS$1 nan$5 nan$10  \
0     Withdrawal     NaN     NaN            100                0     0      0
1     Withdrawal     NaN     NaN             60                0     0      0
2     Withdrawal     NaN     NaN            600                0     0      0
3     Withdrawal     NaN     NaN           1000                0     0      0
4     Withdrawal     NaN     NaN           1000                0     0      0
...          ...     ...     ...            ...              ...   ...    ...
1195  Withdrawal     NaN     NaN             60                0     0      0
1196  Withdrawal     NaN     NaN            100                0     0      0
1197  Withdrawal     NaN     NaN             40                0     0      0
1198  Withdrawal     NaN     NaN            200                0     0      0
1199         NaN     NaN     NaN         323640              NaN   NaN    NaN

     nan$20 nan$50 nan$100 COINSTOTAL($)  nannan  nannan DISPENSEDTOTAL($)  \
0         0      0       1             0     NaN     NaN               100
1         3      0       0             0     NaN     NaN                60
2         0      0       6             0     NaN     NaN               600
3         0      0       0             0     NaN     NaN                 0
4         0      0      10             0     NaN     NaN              1000
...     ...    ...     ...           ...     ...     ...               ...
1195      3      0       0             0     NaN     NaN                60
1196      0      0       0             0     NaN     NaN                 0
1197      2      0       0             0     NaN     NaN                40
1198      0      0       2             0     NaN     NaN               200
1199    NaN    NaN     NaN     Completed     NaN     NaN            241360

      nanSTATUS
0     Completed
1     Completed
2     Completed
3        Denied
4     Completed
...         ...
1195  Completed
1196     Denied
1197  Completed
1198  Completed
1199        NaN

[1200 rows x 20 columns]
nannan               float64
CS25DATE & TIME       object
SEQUENCENUMBER        object
nanCARD#              object
HOSTSEQ NUMBER        object
TRANSTYPE             object
nannan               float64
nannan               float64
TRANSAMOUNT($)        object
DISPENSED QTYS$1      object
nan$5                 object
nan$10                object
nan$20                object
nan$50                object
nan$100               object
COINSTOTAL($)         object
nannan               float64
nannan               float64
DISPENSEDTOTAL($)     object
nanSTATUS             object
dtype: object
Transformacion Nulos

          CS25DATE & TIME    SEQUENCENUMBER nanCARD# HOSTSEQ NUMBER  \
0     08/23/2024 08:13:19  2024082308124108     7816           1452
1     08/23/2024 08:27:15  2024082308262908     9584           1453
2     08/23/2024 08:46:09  2024082308453408     4299           1454
3     08/23/2024 09:06:48  2024082309063308     2610            NaN
4     08/23/2024 09:08:19  2024082309074608     6718           1456
...                   ...               ...      ...            ...
1195  08/31/2024 04:15:39  2024083104150508     7577           2874
1196  08/31/2024 04:45:25  2024083104445708     6160            NaN
1197  08/31/2024 04:48:35  2024083104480808     1284           2877
1198  08/31/2024 05:10:02  2024083105092708     5484           2878
1199              Totals:               NaN      NaN            NaN

       TRANSTYPE TRANSAMOUNT($) DISPENSED QTYS$1 nan$5 nan$10 nan$20 nan$50  \
0     Withdrawal            100                0     0      0      0      0
1     Withdrawal             60                0     0      0      3      0
2     Withdrawal            600                0     0      0      0      0
3     Withdrawal           1000                0     0      0      0      0
4     Withdrawal           1000                0     0      0      0      0
...          ...            ...              ...   ...    ...    ...    ...
1195  Withdrawal             60                0     0      0      3      0
1196  Withdrawal            100                0     0      0      0      0
1197  Withdrawal             40                0     0      0      2      0
1198  Withdrawal            200                0     0      0      0      0
1199         NaN         323640              NaN   NaN    NaN    NaN    NaN

     nan$100 COINSTOTAL($) DISPENSEDTOTAL($)  nanSTATUS  \
0          1             0               100  Completed
1          0             0                60  Completed
2          6             0               600  Completed
3          0             0                 0     Denied
4         10             0              1000  Completed
...      ...           ...               ...        ...
1195       0             0                60  Completed
1196       0             0                 0     Denied
1197       0             0                40  Completed
1198       2             0               200  Completed
1199     NaN     Completed            241360        NaN

                                      file_name
0     ATM_Transaction_Summary-20240903-0919.xls
1     ATM_Transaction_Summary-20240903-0919.xls
2     ATM_Transaction_Summary-20240903-0919.xls
3     ATM_Transaction_Summary-20240903-0919.xls
4     ATM_Transaction_Summary-20240903-0919.xls
...                                         ...
1195  ATM_Transaction_Summary-20240903-0919.xls
1196  ATM_Transaction_Summary-20240903-0919.xls
1197  ATM_Transaction_Summary-20240903-0919.xls
1198  ATM_Transaction_Summary-20240903-0919.xls
1199  ATM_Transaction_Summary-20240903-0919.xls

[1200 rows x 16 columns]
          CS25DATE & TIME    SEQUENCENUMBER nanCARD# HOSTSEQ NUMBER  \
0     08/23/2024 08:13:19  2024082308124108     7816           1452
1     08/23/2024 08:27:15  2024082308262908     9584           1453
2     08/23/2024 08:46:09  2024082308453408     4299           1454
3     08/23/2024 09:06:48  2024082309063308     2610              0
4     08/23/2024 09:08:19  2024082309074608     6718           1456
...                   ...               ...      ...            ...
1195  08/31/2024 04:15:39  2024083104150508     7577           2874
1196  08/31/2024 04:45:25  2024083104445708     6160              0
1197  08/31/2024 04:48:35  2024083104480808     1284           2877
1198  08/31/2024 05:10:02  2024083105092708     5484           2878
1199              Totals:                 0        0              0

       TRANSTYPE  TRANSAMOUNT($)  DISPENSED QTYS$1  nan$5  nan$10  nan$20  \
0     Withdrawal           100.0                 0      0       0       0
1     Withdrawal            60.0                 0      0       0       3
2     Withdrawal           600.0                 0      0       0       0
3     Withdrawal          1000.0                 0      0       0       0
4     Withdrawal          1000.0                 0      0       0       0
...          ...             ...               ...    ...     ...     ...
1195  Withdrawal            60.0                 0      0       0       3
1196  Withdrawal           100.0                 0      0       0       0
1197  Withdrawal            40.0                 0      0       0       2
1198  Withdrawal           200.0                 0      0       0       0
1199           0        323640.0                 0      0       0       0

      nan$50  nan$100 COINSTOTAL($)  DISPENSEDTOTAL($)  nanSTATUS  \
0          0        1             0              100.0  Completed
1          0        0             0               60.0  Completed
2          0        6             0              600.0  Completed
3          0        0             0                0.0     Denied
4          0       10             0             1000.0  Completed
...      ...      ...           ...                ...        ...
1195       0        0             0               60.0  Completed
1196       0        0             0                0.0     Denied
1197       0        0             0               40.0  Completed
1198       0        2             0              200.0  Completed
1199       0        0     Completed           241360.0          0

                                      file_name
0     ATM_Transaction_Summary-20240903-0919.xls
1     ATM_Transaction_Summary-20240903-0919.xls
2     ATM_Transaction_Summary-20240903-0919.xls
3     ATM_Transaction_Summary-20240903-0919.xls
4     ATM_Transaction_Summary-20240903-0919.xls
...                                         ...
1195  ATM_Transaction_Summary-20240903-0919.xls
1196  ATM_Transaction_Summary-20240903-0919.xls
1197  ATM_Transaction_Summary-20240903-0919.xls
1198  ATM_Transaction_Summary-20240903-0919.xls
1199  ATM_Transaction_Summary-20240903-0919.xls

[1200 rows x 16 columns]

C:\Users\paula\AppData\Local\Temp\ipykernel_18924\2608248983.py:39: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.fillna(0)

Archivo exportado exitosamente a C:\Users\paula\UNIR\MasterBigDatayVisualAnalytics\cuatrimestre2\TFM-TFE\Entrega3\TESIS_Maestria_ETL\ETLProyect\ArchivosSalida\Concatenado2.xlsx

In [19]:
#SPARK

#import os
#os.environ["PYSPARK_PYTHON"] = "python3"  # O "python" si ese es tu ejecutable
spark = SparkSession.builder.appName("PySparkExample").getOrCreate()
#spark.conf.set("spark.sql.shuffle.partitions", 1)  # Forzar a usar solo una partición

#Pandas a Spark

dfATM = spark.createDataFrame(df)

#Tranformación 1 - Nulos
# Eliminar columnas donde todos los valores son NaN
#print("Transformación Nulos\n")
#dfATM = dfATM.select([col_name for col_name in dfATM.columns if not dfATM.filter(col(col_name).isNotNull()).count() == 0])

#dfATM.printSchema()

# Convertir el DataFrame de Spark a Pandas
pandas_df = dfATM.toPandas()

# Imprimir el DataFrame de Pandas
print(pandas_df)

          CS25DATE & TIME    SEQUENCENUMBER nanCARD# HOSTSEQ NUMBER  \
0     08/23/2024 08:13:19  2024082308124108     7816           1452
1     08/23/2024 08:27:15  2024082308262908     9584           1453
2     08/23/2024 08:46:09  2024082308453408     4299           1454
3     08/23/2024 09:06:48  2024082309063308     2610              0
4     08/23/2024 09:08:19  2024082309074608     6718           1456
...                   ...               ...      ...            ...
1195  08/31/2024 04:15:39  2024083104150508     7577           2874
1196  08/31/2024 04:45:25  2024083104445708     6160              0
1197  08/31/2024 04:48:35  2024083104480808     1284           2877
1198  08/31/2024 05:10:02  2024083105092708     5484           2878
1199              Totals:                 0        0              0

       TRANSTYPE  TRANSAMOUNT($) COINSTOTAL($)  DISPENSEDTOTAL($)  nanSTATUS  \
0     Withdrawal           100.0             0              100.0  Completed
1     Withdrawal            60.0             0               60.0  Completed
2     Withdrawal           600.0             0              600.0  Completed
3     Withdrawal          1000.0             0                0.0     Denied
4     Withdrawal          1000.0             0             1000.0  Completed
...          ...             ...           ...                ...        ...
1195  Withdrawal            60.0             0               60.0  Completed
1196  Withdrawal           100.0             0                0.0     Denied
1197  Withdrawal            40.0             0               40.0  Completed
1198  Withdrawal           200.0             0              200.0  Completed
1199           0        323640.0     Completed           241360.0          0

                                      file_name
0     ATM_Transaction_Summary-20240903-0919.xls
1     ATM_Transaction_Summary-20240903-0919.xls
2     ATM_Transaction_Summary-20240903-0919.xls
3     ATM_Transaction_Summary-20240903-0919.xls
4     ATM_Transaction_Summary-20240903-0919.xls
...                                         ...
1195  ATM_Transaction_Summary-20240903-0919.xls
1196  ATM_Transaction_Summary-20240903-0919.xls
1197  ATM_Transaction_Summary-20240903-0919.xls
1198  ATM_Transaction_Summary-20240903-0919.xls
1199  ATM_Transaction_Summary-20240903-0919.xls

[1200 rows x 10 columns]

In [20]:
# Transformación 2: Filtros
# Filtro: DISPENSEDTOTAL($) > 0 y TRANSTYPE != 'Balance inquiry'
dfATM_Completadas = dfATM.filter((dfATM['DISPENSEDTOTAL($)'] > 0) & (dfATM['TRANSTYPE'] != 'Balance inquiry'))

dfATM_Completadas.show()

# Agregar columna con el nombre del archivo
#df_with_filename = dfATM.withColumn("file_name", file_name)

dfATM_Completadas_pd = dfATM_Completadas.toPandas()

# Guardar el DataFrame de Pandas en Excel
dfATM_Completadas_pd.to_excel(output_path3, index=False, engine='openpyxl')  # Usa openpyxl como motor
print(f"Archivo exportado exitosamente a {output_path3}")

+-------------------+----------------+--------+--------------+----------+--------------+-------------+-----------------+---------+--------------------+
|    CS25DATE & TIME|  SEQUENCENUMBER|nanCARD#|HOSTSEQ NUMBER| TRANSTYPE|TRANSAMOUNT($)|COINSTOTAL($)|DISPENSEDTOTAL($)|nanSTATUS|           file_name|
+-------------------+----------------+--------+--------------+----------+--------------+-------------+-----------------+---------+--------------------+
|08/23/2024 08:13:19|2024082308124108|    7816|          1452|Withdrawal|         100.0|            0|            100.0|Completed|ATM_Transaction_S...|
|08/23/2024 08:27:15|2024082308262908|    9584|          1453|Withdrawal|          60.0|            0|             60.0|Completed|ATM_Transaction_S...|
|08/23/2024 08:46:09|2024082308453408|    4299|          1454|Withdrawal|         600.0|            0|            600.0|Completed|ATM_Transaction_S...|
|08/23/2024 09:08:19|2024082309074608|    6718|          1456|Withdrawal|        1000.0|            0|           1000.0|Completed|ATM_Transaction_S...|
|08/23/2024 10:04:30|2024082310034208|    1794|          1463|Withdrawal|         360.0|            0|            360.0|Completed|ATM_Transaction_S...|
|08/23/2024 10:25:41|2024082310251008|    1804|          1464|Withdrawal|         100.0|            0|            100.0|Completed|ATM_Transaction_S...|
|08/23/2024 10:51:02|2024082310502608|    7921|          1467|Withdrawal|        1600.0|            0|           1600.0|Completed|ATM_Transaction_S...|
|08/23/2024 11:05:10|2024082311043708|    0608|          1468|Withdrawal|          60.0|            0|             60.0|Completed|ATM_Transaction_S...|
|08/23/2024 11:13:55|2024082311131608|    3307|          1469|Withdrawal|         100.0|            0|            100.0|Completed|ATM_Transaction_S...|
|08/23/2024 11:21:22|2024082311204808|    1205|          1470|Withdrawal|         200.0|            0|            200.0|Completed|ATM_Transaction_S...|
|08/23/2024 11:28:11|2024082311273708|    4467|          1472|Withdrawal|         200.0|            0|            200.0|Completed|ATM_Transaction_S...|
|08/23/2024 11:39:33|2024082311390308|    6070|          1476|Withdrawal|         140.0|            0|            140.0|Completed|ATM_Transaction_S...|
|08/23/2024 11:43:51|2024082311430608|    0154|          1478|Withdrawal|         200.0|            0|            200.0|Completed|ATM_Transaction_S...|
|08/23/2024 11:46:52|2024082311461308|    9613|          1479|Withdrawal|          60.0|            0|             60.0|Completed|ATM_Transaction_S...|
|08/23/2024 12:03:16|2024082312024208|    7912|          1488|Withdrawal|         120.0|            0|            120.0|Completed|ATM_Transaction_S...|
|08/23/2024 12:05:12|2024082312043608|    4053|          1489|Withdrawal|         400.0|            0|            400.0|Completed|ATM_Transaction_S...|
|08/23/2024 12:07:47|2024082312065408|    4153|          1490|Withdrawal|         200.0|            0|            200.0|Completed|ATM_Transaction_S...|
|08/23/2024 12:11:44|2024082312110908|    2301|          1491|Withdrawal|         300.0|            0|            300.0|Completed|ATM_Transaction_S...|
|08/23/2024 12:26:21|2024082312254308|    8886|          1492|Withdrawal|         360.0|            0|            360.0|Completed|ATM_Transaction_S...|
|08/23/2024 12:32:40|2024082312320708|    3061|          1493|Withdrawal|         700.0|            0|            700.0|Completed|ATM_Transaction_S...|
+-------------------+----------------+--------+--------------+----------+--------------+-------------+-----------------+---------+--------------------+
only showing top 20 rows

Archivo exportado exitosamente a C:\Users\paula\UNIR\MasterBigDatayVisualAnalytics\cuatrimestre2\TFM-TFE\Entrega3\TESIS_Maestria_ETL\ETLProyect\ArchivosSalida\Concatenado3.xlsx