In [1]:
#!python3 --version
#from pyspark import SparkContext
#sc = SparkContext.getOrCreate()
#print(sc.pythonVer)

In [2]:
#import os
#os.environ["PYSPARK_PYTHON"] = "python3"  # O "python" si ese es tu ejecutable

In [32]:
#!pip list

In [1]:
pip install pandas numpy

Requirement already satisfied: pandas in c:\users\paula\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.2.3)
Requirement already satisfied: numpy in c:\users\paula\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\paula\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\paula\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\paula\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\paula\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: C:\Users\paula\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [34]:
#!pip uninstall -y pyspark
#pip uninstall -yspark

In [35]:
#!pip cache purge

#!pip install pyspark==3.5.2

In [2]:
pip install xlrd

Requirement already satisfied: xlrd in c:\users\paula\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: C:\Users\paula\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [3]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\paula\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\paula\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: C:\Users\paula\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [4]:
#Importar librerias
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
import pandas as pd
import glob
from pyspark.sql.types import StructType, StructField, StringType, FloatType
import os
import sys

In [5]:

file_path = r'C:\Users\paula\UNIR\MasterBigDatayVisualAnalytics\cuatrimestre2\TFM-TFE\Entrega3\TESIS_Maestria_ETL\ETLProyect\ArchivosEntrada\CardReports\Cash_Advance_Transaction-20240903-0921.xls'

# Especificar la ruta del archivo Excel
output_path = r'C:\Users\paula\UNIR\MasterBigDatayVisualAnalytics\cuatrimestre2\TFM-TFE\Entrega3\TESIS_Maestria_ETL\ETLProyect\ArchivosSalida\Concatenado2.xlsx'

# Especificar la ruta del archivo Excel
output_path3 = r'C:\Users\paula\UNIR\MasterBigDatayVisualAnalytics\cuatrimestre2\TFM-TFE\Entrega3\TESIS_Maestria_ETL\ETLProyect\ArchivosSalida\Concatenado3.xlsx'

# Ruta de la carpeta que contiene los archivos
folder_path = r'C:\Users\paula\UNIR\MasterBigDatayVisualAnalytics\cuatrimestre2\TFM-TFE\Entrega3\TESIS_Maestria_ETL\ETLProyect\ArchivosEntrada\CardReports'

In [98]:
# Obtener una lista de todos los archivos Excel en la carpeta
file_list = [os.path.join(folder_path, f) for f in os.listdir(folder_path) if f.endswith(('.xls', '.xlsx'))]

dataframes = []
for file in file_list:
    df = pd.read_excel(file, sheet_name="Sheet2", skiprows=3, header=None)
    file_name = os.path.basename(file)
    new_columns = df.iloc[2].astype(str) + df.iloc[3].astype(str)
    df.columns = new_columns  # Asignar los nuevos encabezados
    df = df[4:]  # Eliminar las filas de encabezado original (0, 1 y 2)
    df.reset_index(drop=True, inplace=True)
    df['file_name'] = os.path.basename(file)# Agregar el nombre del archivo    
    print("Nombre del archivo:", file_name)
    #Tranformación 1 - Nulos
    # Eliminar columnas donde todos los valores son NaN
    print ("Transformacion Nulos\n")
    df = df.dropna(axis=1, how='all')
    #Tranformación 3 - Reemplaza NaN con un valor predeterminado si es necesario
    df = df.fillna(0)
    df = df.loc[df["CS25DATE & TIME"] != "Totals:"]
    #print(df) 
    if "ATM" in file_name:
        print("El archivo contiene 'ATM' en el nombre.")
        df.insert(loc=df.columns.get_loc("nanSTATUS"), column="FEE($)", value=0)
        #Tranformación 2 - Limpia y Convertir las columnas numéricas a float
        df['DISPENSEDTOTAL($)'] = pd.to_numeric(df['DISPENSEDTOTAL($)'], errors='coerce').fillna(0).astype(float)
        df['TRANSAMOUNT($)'] = pd.to_numeric(df['TRANSAMOUNT($)'], errors='coerce').astype(float)
        df = df.drop(['DISPENSED QTYS$1', 'nan$5', 'nan$10', 'nan$20', 'nan$50', 'nan$100'], axis=1)
        #Tranformación 4-  Convierte las columnas categóricas o de texto a tipo `str`
        df['TRANSTYPE'] = df['TRANSTYPE'].astype(str)        
        df['SEQUENCENUMBER'] = df['SEQUENCENUMBER'].astype(str)        
        df['nanCARD#'] = df['nanCARD#'].astype(str)        
        df['HOSTSEQ NUMBER'] = df['HOSTSEQ NUMBER'].astype(str)
        # limpiar la columna TRANSACTIONTYPE
        df["TRANSTYPE"] = df["TRANSTYPE"].str.strip()  # Elimina espacios antes y después
        df["TRANSTYPE"] = df["TRANSTYPE"].str.replace(r"\s+", " ", regex=True)  # Reemplaza múltiples espacios con uno solo
        df = df.rename(columns={"nanSTATUS": "STATUS", "nanCARD#": "CARDNUMBER", "TRANSTYPE": "TRANSACTIONTYPE"})
        print(df) 
    elif "Cash_Advance" in file_name:
        print("El archivo contiene 'Cash_Advance' en el nombre.")  # Agregar el nombre del archivo
        #Tranformación 2 - Limpia y Convertir las columnas numéricas a float
        status_column_index = df.columns.get_loc("FEE($)")
        df['TRANSAMOUNT($)'] = pd.to_numeric(df['TRANSAMOUNT($)'], errors='coerce').astype(float)
        df.insert(loc=status_column_index, column="DISPENSEDTOTAL($)", value=0)
        df.insert(loc=status_column_index, column="COINSTOTAL($)", value=0)        
        #Tranformación 4-  Convierte las columnas categóricas o de texto a tipo `str`
        df['TRANSACTIONTYPE'] = df['TRANSACTIONTYPE'].astype(str)
        df['SEQUENCENUMBER'] = df['SEQUENCENUMBER'].astype(str)        
        df['CARDNUMBER'] = df['CARDNUMBER'].astype(str)        
        df['HOSTSEQ NUMBER'] = df['HOSTSEQ NUMBER'].astype(str)
        # limpiar la columna TRANSACTIONTYPE
        df["TRANSACTIONTYPE"] = df["TRANSACTIONTYPE"].str.strip()  # Elimina espacios antes y después
        df["TRANSACTIONTYPE"] = df["TRANSACTIONTYPE"].str.replace(r"\s+", " ", regex=True)  # Reemplaza múltiples espacios con uno solo
        # Filtrar los registros que no sean 'Credit'
        df = df.loc[df["TRANSACTIONTYPE"] != "Credit"]
        df = df.rename(columns={"nanSTATUS": "STATUS"})
    elif "Debit_Dispense" in file_name:
        print("El archivo contiene 'Debit_Dispense' en el nombre.")  # Agregar el nombre del archivo  
          #Tranformación 2 - Limpia y Convertir las columnas numéricas a float
        status_column_index = df.columns.get_loc("FEE($)")       
        df.insert(loc=status_column_index, column="DISPENSEDTOTAL($)", value=0)
        df.insert(loc=status_column_index, column="COINSTOTAL($)", value=0)        
        #Tranformación 4-  Convierte las columnas categóricas o de texto a tipo `str`
        df['TRANSACTIONTYPE'] = df['TRANSACTIONTYPE'].astype(str)
        df['SEQUENCENUMBER'] = df['SEQUENCENUMBER'].astype(str)        
        df['CARDNUMBER'] = df['CARDNUMBER'].astype(str)        
        df['HOSTSEQ NUMBER'] = df['HOSTSEQ NUMBER'].astype(str)
        # limpiar la columna TRANSACTIONTYPE
        df["TRANSACTIONTYPE"] = df["TRANSACTIONTYPE"].str.strip()  # Elimina espacios antes y después
        df["TRANSACTIONTYPE"] = df["TRANSACTIONTYPE"].str.replace(r"\s+", " ", regex=True)  # Reemplaza múltiples espacios con uno solo
        df["TRANSACTIONTYPE"] = df["TRANSACTIONTYPE"].str.strip()  # Elimina espacios antes y después
        df["TRANSACTIONTYPE"] = df["TRANSACTIONTYPE"].str.replace(r"\s+", " ", regex=True)  # Reemplaza múltiples espacios con uno solo
        df = df.rename(columns={"nanSTATUS": "STATUS"})
    elif "Pos_Ticket_Purchase" in file_name:
        print("El archivo contiene 'Pos_Ticket_Purchase' en el nombre.")  # Agregar el nombre del archivo  
          #Tranformación 2 - Limpia y Convertir las columnas numéricas a float
        status_column_index = df.columns.get_loc("FEE($)")       
        df.insert(loc=status_column_index, column="DISPENSEDTOTAL($)", value=0)
        df.insert(loc=status_column_index, column="COINSTOTAL($)", value=0)        
        #Tranformación 4-  Convierte las columnas categóricas o de texto a tipo `str`
        df['TRANSACTIONTYPE'] = df['TRANSACTIONTYPE'].astype(str)
        df['SEQUENCENUMBER'] = df['SEQUENCENUMBER'].astype(str)        
        df['CARDNUMBER'] = df['CARDNUMBER'].astype(str)        
        df['HOSTSEQ NUMBER'] = df['HOSTSEQ NUMBER'].astype(str)
        # limpiar la columna TRANSACTIONTYPE
        df["TRANSACTIONTYPE"] = df["TRANSACTIONTYPE"].str.strip()  # Elimina espacios antes y después
        df["TRANSACTIONTYPE"] = df["TRANSACTIONTYPE"].str.replace(r"\s+", " ", regex=True)  # Reemplaza múltiples espacios con uno solo
        df["TRANSACTIONTYPE"] = df["TRANSACTIONTYPE"].str.strip()  # Elimina espacios antes y después
        df["TRANSACTIONTYPE"] = df["TRANSACTIONTYPE"].str.replace(r"\s+", " ", regex=True)  # Reemplaza múltiples espacios con uno solo
        df = df.rename(columns={"nanSTATUS": "STATUS"})
    else:
        print("otra Opcion") 
    df = df.rename(columns={"CS25DATE & TIME": "DATE & TIME"})
    dataframes.append(df)

df_combined = pd.concat(dataframes, ignore_index=True)

print("DataFrame combinado con nombres de archivo:")
print(df_combined)


#Código para concatenar filas 3 y 4 para los titulos 

#Lectura del archivo
#df = pd.read_excel(file_path, sheet_name="Sheet2", skiprows=3, header=None)
#file_name = os.path.basename(file_path)
#print("Nombre del archivo:", file_name)

#Antes de unificar
#print ("Titulos de archivo fuente:")
#print(df)

#Combinar filas 3 y 4 

#new_columns = df.iloc[2].astype(str) + df.iloc[3].astype(str)
#df.columns = new_columns  # Asignar los nuevos encabezados
#df = df[4:]  # Eliminar las filas de encabezado original (0, 1 y 2)
# Reiniciar el índice
#df.reset_index(drop=True, inplace=True)

#print("Después de la unificación:")
#print(df)

#print(df.dtypes)

# Agregar la columna del nombre del archivo
#df["file_name"] = file_name

#Tranformación 1 - Nulos
# Eliminar columnas donde todos los valores son NaN
#print ("Transformacion Nulos\n")
#df = df.dropna(axis=1, how='all')
#print(df) 

#Tranformación 2 - Limpia y Convertir las columnas numéricas a float
#df['DISPENSEDTOTAL($)'] = pd.to_numeric(df['DISPENSEDTOTAL($)'], errors='coerce').fillna(0).astype(float)
#df['TRANSAMOUNT($)'] = pd.to_numeric(df['TRANSAMOUNT($)'], errors='coerce').astype(float)

#Tranformación 3 - Reemplaza NaN con un valor predeterminado si es necesario
#df = df.fillna(0)

#Tranformación 4-  Convierte las columnas categóricas o de texto a tipo `str`
#df['TRANSTYPE'] = df['TRANSTYPE'].astype(str)

#print(df)


#df = df.drop(['DISPENSED QTYS$1', 'nan$5', 'nan$10', 'nan$20', 'nan$50', 'nan$100'], axis=1)

# Guardar el DataFrame de Pandas en Excel
df_combined.to_excel(output_path, index=False, engine='openpyxl')  # Usa openpyxl como motor
print(f"Archivo exportado exitosamente a {output_path}")

Nombre del archivo: ATM_Transaction_Summary-20240903-0919.xls
Transformacion Nulos

El archivo contiene 'ATM' en el nombre.
          CS25DATE & TIME    SEQUENCENUMBER CARDNUMBER HOSTSEQ NUMBER  \
0     08/23/2024 08:13:19  2024082308124108       7816           1452
1     08/23/2024 08:27:15  2024082308262908       9584           1453
2     08/23/2024 08:46:09  2024082308453408       4299           1454
3     08/23/2024 09:06:48  2024082309063308       2610              0
4     08/23/2024 09:08:19  2024082309074608       6718           1456
...                   ...               ...        ...            ...
1194  08/31/2024 03:33:35  2024083103330508       6909           2872
1195  08/31/2024 04:15:39  2024083104150508       7577           2874
1196  08/31/2024 04:45:25  2024083104445708       6160              0
1197  08/31/2024 04:48:35  2024083104480808       1284           2877
1198  08/31/2024 05:10:02  2024083105092708       5484           2878

     TRANSACTIONTYPE  TRANSAMOUNT($) COINSTOTAL($)  DISPENSEDTOTAL($)  FEE($)  \
0         Withdrawal           100.0             0              100.0       0
1         Withdrawal            60.0             0               60.0       0
2         Withdrawal           600.0             0              600.0       0
3         Withdrawal          1000.0             0                0.0       0
4         Withdrawal          1000.0             0             1000.0       0
...              ...             ...           ...                ...     ...
1194      Withdrawal           100.0             0              100.0       0
1195      Withdrawal            60.0             0               60.0       0
1196      Withdrawal           100.0             0                0.0       0
1197      Withdrawal            40.0             0               40.0       0
1198      Withdrawal           200.0             0              200.0       0

         STATUS                                  file_name
0     Completed  ATM_Transaction_Summary-20240903-0919.xls
1     Completed  ATM_Transaction_Summary-20240903-0919.xls
2     Completed  ATM_Transaction_Summary-20240903-0919.xls
3        Denied  ATM_Transaction_Summary-20240903-0919.xls
4     Completed  ATM_Transaction_Summary-20240903-0919.xls
...         ...                                        ...
1194  Completed  ATM_Transaction_Summary-20240903-0919.xls
1195  Completed  ATM_Transaction_Summary-20240903-0919.xls
1196     Denied  ATM_Transaction_Summary-20240903-0919.xls
1197  Completed  ATM_Transaction_Summary-20240903-0919.xls
1198  Completed  ATM_Transaction_Summary-20240903-0919.xls

[1199 rows x 11 columns]
Nombre del archivo: Cash_Advance_Transaction-20240903-0921.xls
Transformacion Nulos

El archivo contiene 'Cash_Advance' en el nombre.
Nombre del archivo: Debit_Dispense-20240903-0923.xls
Transformacion Nulos

El archivo contiene 'Debit_Dispense' en el nombre.
Nombre del archivo: Pos_Ticket_Purchase-20240903-0925.xls
Transformacion Nulos

El archivo contiene 'Pos_Ticket_Purchase' en el nombre.
DataFrame combinado con nombres de archivo:
              DATE & TIME    SEQUENCENUMBER CARDNUMBER HOSTSEQ NUMBER  \
0     08/23/2024 08:13:19  2024082308124108       7816           1452
1     08/23/2024 08:27:15  2024082308262908       9584           1453
2     08/23/2024 08:46:09  2024082308453408       4299           1454
3     08/23/2024 09:06:48  2024082309063308       2610              0
4     08/23/2024 09:08:19  2024082309074608       6718           1456
...                   ...               ...        ...            ...
1354  08/30/2024 09:34:30  0830202409341815       2868           2684
1355  08/30/2024 16:06:52  0830202416064291       1109           2745
1356  08/30/2024 22:41:05  0830202422404635       8418           2820
1357  08/30/2024 22:42:38  0830202422422944       8418           2821
1358  08/30/2024 22:44:00  0830202422434897       8418              0

            TRANSACTIONTYPE  TRANSAMOUNT($) COINSTOTAL($)  DISPENSEDTOTAL($)  \
0                Withdrawal           100.0             0              100.0
1                Withdrawal            60.0             0               60.0
2                Withdrawal           600.0             0              600.0
3                Withdrawal          1000.0             0                0.0
4                Withdrawal          1000.0             0             1000.0
...                     ...             ...           ...                ...
1354  Debit Ticket Purchase          2500.0             0                0.0
1355  Debit Ticket Purchase          1000.0             0                0.0
1356  Debit Ticket Purchase          1000.0             0                0.0
1357  Debit Ticket Purchase          1000.0             0                0.0
1358  Debit Ticket Purchase           500.0             0                0.0

      FEE($)     STATUS                                  file_name
0        0.0  Completed  ATM_Transaction_Summary-20240903-0919.xls
1        0.0  Completed  ATM_Transaction_Summary-20240903-0919.xls
2        0.0  Completed  ATM_Transaction_Summary-20240903-0919.xls
3        0.0     Denied  ATM_Transaction_Summary-20240903-0919.xls
4        0.0  Completed  ATM_Transaction_Summary-20240903-0919.xls
...      ...        ...                                        ...
1354   125.0  Completed      Pos_Ticket_Purchase-20240903-0925.xls
1355    50.0  Completed      Pos_Ticket_Purchase-20240903-0925.xls
1356    50.0  Completed      Pos_Ticket_Purchase-20240903-0925.xls
1357    50.0  Completed      Pos_Ticket_Purchase-20240903-0925.xls
1358     0.0     Denied      Pos_Ticket_Purchase-20240903-0925.xls

[1359 rows x 11 columns]

C:\Users\paula\AppData\Local\Temp\ipykernel_73224\3348968049.py:19: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.fillna(0)
C:\Users\paula\AppData\Local\Temp\ipykernel_73224\3348968049.py:19: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.fillna(0)
C:\Users\paula\AppData\Local\Temp\ipykernel_73224\3348968049.py:19: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.fillna(0)
C:\Users\paula\AppData\Local\Temp\ipykernel_73224\3348968049.py:19: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.fillna(0)

Archivo exportado exitosamente a C:\Users\paula\UNIR\MasterBigDatayVisualAnalytics\cuatrimestre2\TFM-TFE\Entrega3\TESIS_Maestria_ETL\ETLProyect\ArchivosSalida\Concatenado2.xlsx

In [19]:
#SPARK

#import os
#os.environ["PYSPARK_PYTHON"] = "python3"  # O "python" si ese es tu ejecutable
spark = SparkSession.builder.appName("PySparkExample").getOrCreate()
#spark.conf.set("spark.sql.shuffle.partitions", 1)  # Forzar a usar solo una partición

#Pandas a Spark

dfATM = spark.createDataFrame(df)

#Tranformación 1 - Nulos
# Eliminar columnas donde todos los valores son NaN
#print("Transformación Nulos\n")
#dfATM = dfATM.select([col_name for col_name in dfATM.columns if not dfATM.filter(col(col_name).isNotNull()).count() == 0])

#dfATM.printSchema()

# Convertir el DataFrame de Spark a Pandas
pandas_df = dfATM.toPandas()

# Imprimir el DataFrame de Pandas
print(pandas_df)

          CS25DATE & TIME    SEQUENCENUMBER nanCARD# HOSTSEQ NUMBER  \
0     08/23/2024 08:13:19  2024082308124108     7816           1452
1     08/23/2024 08:27:15  2024082308262908     9584           1453
2     08/23/2024 08:46:09  2024082308453408     4299           1454
3     08/23/2024 09:06:48  2024082309063308     2610              0
4     08/23/2024 09:08:19  2024082309074608     6718           1456
...                   ...               ...      ...            ...
1195  08/31/2024 04:15:39  2024083104150508     7577           2874
1196  08/31/2024 04:45:25  2024083104445708     6160              0
1197  08/31/2024 04:48:35  2024083104480808     1284           2877
1198  08/31/2024 05:10:02  2024083105092708     5484           2878
1199              Totals:                 0        0              0

       TRANSTYPE  TRANSAMOUNT($) COINSTOTAL($)  DISPENSEDTOTAL($)  nanSTATUS  \
0     Withdrawal           100.0             0              100.0  Completed
1     Withdrawal            60.0             0               60.0  Completed
2     Withdrawal           600.0             0              600.0  Completed
3     Withdrawal          1000.0             0                0.0     Denied
4     Withdrawal          1000.0             0             1000.0  Completed
...          ...             ...           ...                ...        ...
1195  Withdrawal            60.0             0               60.0  Completed
1196  Withdrawal           100.0             0                0.0     Denied
1197  Withdrawal            40.0             0               40.0  Completed
1198  Withdrawal           200.0             0              200.0  Completed
1199           0        323640.0     Completed           241360.0          0

                                      file_name
0     ATM_Transaction_Summary-20240903-0919.xls
1     ATM_Transaction_Summary-20240903-0919.xls
2     ATM_Transaction_Summary-20240903-0919.xls
3     ATM_Transaction_Summary-20240903-0919.xls
4     ATM_Transaction_Summary-20240903-0919.xls
...                                         ...
1195  ATM_Transaction_Summary-20240903-0919.xls
1196  ATM_Transaction_Summary-20240903-0919.xls
1197  ATM_Transaction_Summary-20240903-0919.xls
1198  ATM_Transaction_Summary-20240903-0919.xls
1199  ATM_Transaction_Summary-20240903-0919.xls

[1200 rows x 10 columns]

In [20]:
# Transformación 2: Filtros
# Filtro: DISPENSEDTOTAL($) > 0 y TRANSTYPE != 'Balance inquiry'
dfATM_Completadas = dfATM.filter((dfATM['DISPENSEDTOTAL($)'] > 0) & (dfATM['TRANSTYPE'] != 'Balance inquiry'))

dfATM_Completadas.show()

# Agregar columna con el nombre del archivo
#df_with_filename = dfATM.withColumn("file_name", file_name)

dfATM_Completadas_pd = dfATM_Completadas.toPandas()

# Guardar el DataFrame de Pandas en Excel
dfATM_Completadas_pd.to_excel(output_path3, index=False, engine='openpyxl')  # Usa openpyxl como motor
print(f"Archivo exportado exitosamente a {output_path3}")

+-------------------+----------------+--------+--------------+----------+--------------+-------------+-----------------+---------+--------------------+
|    CS25DATE & TIME|  SEQUENCENUMBER|nanCARD#|HOSTSEQ NUMBER| TRANSTYPE|TRANSAMOUNT($)|COINSTOTAL($)|DISPENSEDTOTAL($)|nanSTATUS|           file_name|
+-------------------+----------------+--------+--------------+----------+--------------+-------------+-----------------+---------+--------------------+
|08/23/2024 08:13:19|2024082308124108|    7816|          1452|Withdrawal|         100.0|            0|            100.0|Completed|ATM_Transaction_S...|
|08/23/2024 08:27:15|2024082308262908|    9584|          1453|Withdrawal|          60.0|            0|             60.0|Completed|ATM_Transaction_S...|
|08/23/2024 08:46:09|2024082308453408|    4299|          1454|Withdrawal|         600.0|            0|            600.0|Completed|ATM_Transaction_S...|
|08/23/2024 09:08:19|2024082309074608|    6718|          1456|Withdrawal|        1000.0|            0|           1000.0|Completed|ATM_Transaction_S...|
|08/23/2024 10:04:30|2024082310034208|    1794|          1463|Withdrawal|         360.0|            0|            360.0|Completed|ATM_Transaction_S...|
|08/23/2024 10:25:41|2024082310251008|    1804|          1464|Withdrawal|         100.0|            0|            100.0|Completed|ATM_Transaction_S...|
|08/23/2024 10:51:02|2024082310502608|    7921|          1467|Withdrawal|        1600.0|            0|           1600.0|Completed|ATM_Transaction_S...|
|08/23/2024 11:05:10|2024082311043708|    0608|          1468|Withdrawal|          60.0|            0|             60.0|Completed|ATM_Transaction_S...|
|08/23/2024 11:13:55|2024082311131608|    3307|          1469|Withdrawal|         100.0|            0|            100.0|Completed|ATM_Transaction_S...|
|08/23/2024 11:21:22|2024082311204808|    1205|          1470|Withdrawal|         200.0|            0|            200.0|Completed|ATM_Transaction_S...|
|08/23/2024 11:28:11|2024082311273708|    4467|          1472|Withdrawal|         200.0|            0|            200.0|Completed|ATM_Transaction_S...|
|08/23/2024 11:39:33|2024082311390308|    6070|          1476|Withdrawal|         140.0|            0|            140.0|Completed|ATM_Transaction_S...|
|08/23/2024 11:43:51|2024082311430608|    0154|          1478|Withdrawal|         200.0|            0|            200.0|Completed|ATM_Transaction_S...|
|08/23/2024 11:46:52|2024082311461308|    9613|          1479|Withdrawal|          60.0|            0|             60.0|Completed|ATM_Transaction_S...|
|08/23/2024 12:03:16|2024082312024208|    7912|          1488|Withdrawal|         120.0|            0|            120.0|Completed|ATM_Transaction_S...|
|08/23/2024 12:05:12|2024082312043608|    4053|          1489|Withdrawal|         400.0|            0|            400.0|Completed|ATM_Transaction_S...|
|08/23/2024 12:07:47|2024082312065408|    4153|          1490|Withdrawal|         200.0|            0|            200.0|Completed|ATM_Transaction_S...|
|08/23/2024 12:11:44|2024082312110908|    2301|          1491|Withdrawal|         300.0|            0|            300.0|Completed|ATM_Transaction_S...|
|08/23/2024 12:26:21|2024082312254308|    8886|          1492|Withdrawal|         360.0|            0|            360.0|Completed|ATM_Transaction_S...|
|08/23/2024 12:32:40|2024082312320708|    3061|          1493|Withdrawal|         700.0|            0|            700.0|Completed|ATM_Transaction_S...|
+-------------------+----------------+--------+--------------+----------+--------------+-------------+-----------------+---------+--------------------+
only showing top 20 rows

Archivo exportado exitosamente a C:\Users\paula\UNIR\MasterBigDatayVisualAnalytics\cuatrimestre2\TFM-TFE\Entrega3\TESIS_Maestria_ETL\ETLProyect\ArchivosSalida\Concatenado3.xlsx