In [ ]:
!pip list

In [1]:
pip install pandas numpy

Requirement already satisfied: pandas in c:\users\paula\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy in c:\users\paula\anaconda3\lib\site-packages (1.24.4)
Requirement already satisfied: tzdata>=2022.7 in c:\users\paula\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\paula\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\paula\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\paula\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
#pip uninstall -y pyspark
#pip uninstall -yspark

In [ ]:

pip install pyspark

In [2]:
#Importar librerias
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
import pandas as pd
import glob
from pyspark.sql.types import StructType, StructField, StringType, FloatType

C:\Users\paula\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\paula\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [3]:

file_path = r'C:\Users\paula\UNIR\MasterBigDatayVisualAnalytics\cuatrimestre2\TFM-TFE\Nueva carpeta\Files\ATM_Transaction_Summary-20240903-0919.xls'

# Especificar la ruta del archivo Excel
output_path = r'C:\Users\paula\UNIR\MasterBigDatayVisualAnalytics\cuatrimestre2\TFM-TFE\Nueva carpeta\Files\Procesados\Concatenado2.xlsx'

# Especificar la ruta del archivo Excel
output_path3 = r'C:\Users\paula\UNIR\MasterBigDatayVisualAnalytics\cuatrimestre2\TFM-TFE\Nueva carpeta\Files\Procesados\Concatenado3.xlsx'

In [4]:
#Código para concatenar filas 3 y 4 para los titulos 

df = pd.read_excel(file_path, sheet_name="Sheet2", skiprows=3, header=None)

#Antes de unificar
print ("Titulos de archivo fuente:")
print(df)

#Combinar filas 3 y 4 

new_columns = df.iloc[2].astype(str) + df.iloc[3].astype(str)
df.columns = new_columns  # Asignar los nuevos encabezados
df = df[4:]  # Eliminar las filas de encabezado original (0, 1 y 2)
# Reiniciar el índice
df.reset_index(drop=True, inplace=True)

print("Después de la unificación:")
print(df)

print(df.dtypes)

#Tranformación 1 - Nulos
# Eliminar columnas donde todos los valores son NaN
print ("Transformacion Nulos\n")
df = df.dropna(axis=1, how='all')
print(df) 

#Tranformación 2 - Limpia y Convertir las columnas numéricas a float
df['DISPENSEDTOTAL($)'] = pd.to_numeric(df['DISPENSEDTOTAL($)'], errors='coerce').fillna(0).astype(float)
df['TRANSAMOUNT($)'] = pd.to_numeric(df['TRANSAMOUNT($)'], errors='coerce').astype(float)

#Tranformación 3 - Reemplaza NaN con un valor predeterminado si es necesario
df = df.fillna(0)

#Tranformación 4-  Convierte las columnas categóricas o de texto a tipo `str`
df['TRANSTYPE'] = df['TRANSTYPE'].astype(str)

print(df)


df = df.drop(['DISPENSED QTYS$1', 'nan$5', 'nan$10', 'nan$20', 'nan$50', 'nan$100'], axis=1)

# Guardar el DataFrame de Pandas en Excel
df.to_excel(output_path, index=False, engine='openpyxl')  # Usa openpyxl como motor
print(f"Archivo exportado exitosamente a {output_path}")

Titulos de archivo fuente:
      0                    1                 2      3           4   \
0    NaN                  NaN               NaN    NaN         NaN
1    NaN                  NaN               NaN    NaN         NaN
2    NaN                 CS25          SEQUENCE    NaN        HOST
3    NaN          DATE & TIME            NUMBER  CARD#  SEQ NUMBER
4    NaN  08/23/2024 08:13:19  2024082308124108   7816        1452
...   ..                  ...               ...    ...         ...
1199 NaN  08/31/2024 04:15:39  2024083104150508   7577        2874
1200 NaN  08/31/2024 04:45:25  2024083104445708   6160         NaN
1201 NaN  08/31/2024 04:48:35  2024083104480808   1284        2877
1202 NaN  08/31/2024 05:10:02  2024083105092708   5484        2878
1203 NaN              Totals:               NaN    NaN         NaN

              5   6   7          8               9    10   11   12   13    14  \
0            NaN NaN NaN        NaN             NaN  NaN  NaN  NaN  NaN   NaN
1            NaN NaN NaN        NaN             NaN  NaN  NaN  NaN  NaN   NaN
2          TRANS NaN NaN      TRANS  DISPENSED QTYS  NaN  NaN  NaN  NaN   NaN
3           TYPE NaN NaN  AMOUNT($)              $1   $5  $10  $20  $50  $100
4     Withdrawal NaN NaN        100               0    0    0    0    0     1
...          ...  ..  ..        ...             ...  ...  ...  ...  ...   ...
1199  Withdrawal NaN NaN         60               0    0    0    3    0     0
1200  Withdrawal NaN NaN        100               0    0    0    0    0     0
1201  Withdrawal NaN NaN         40               0    0    0    2    0     0
1202  Withdrawal NaN NaN        200               0    0    0    0    0     2
1203         NaN NaN NaN     323640             NaN  NaN  NaN  NaN  NaN   NaN

             15  16  17         18         19
0           NaN NaN NaN        NaN        NaN
1           NaN NaN NaN        NaN        NaN
2         COINS NaN NaN  DISPENSED        NaN
3      TOTAL($) NaN NaN   TOTAL($)     STATUS
4             0 NaN NaN        100  Completed
...         ...  ..  ..        ...        ...
1199          0 NaN NaN         60  Completed
1200          0 NaN NaN          0     Denied
1201          0 NaN NaN         40  Completed
1202          0 NaN NaN        200  Completed
1203  Completed NaN NaN     241360        NaN

[1204 rows x 20 columns]
Después de la unificación:
      nannan      CS25DATE & TIME    SEQUENCENUMBER nanCARD# HOSTSEQ NUMBER  \
0        NaN  08/23/2024 08:13:19  2024082308124108     7816           1452
1        NaN  08/23/2024 08:27:15  2024082308262908     9584           1453
2        NaN  08/23/2024 08:46:09  2024082308453408     4299           1454
3        NaN  08/23/2024 09:06:48  2024082309063308     2610            NaN
4        NaN  08/23/2024 09:08:19  2024082309074608     6718           1456
...      ...                  ...               ...      ...            ...
1195     NaN  08/31/2024 04:15:39  2024083104150508     7577           2874
1196     NaN  08/31/2024 04:45:25  2024083104445708     6160            NaN
1197     NaN  08/31/2024 04:48:35  2024083104480808     1284           2877
1198     NaN  08/31/2024 05:10:02  2024083105092708     5484           2878
1199     NaN              Totals:               NaN      NaN            NaN

       TRANSTYPE  nannan  nannan TRANSAMOUNT($) DISPENSED QTYS$1 nan$5 nan$10  \
0     Withdrawal     NaN     NaN            100                0     0      0
1     Withdrawal     NaN     NaN             60                0     0      0
2     Withdrawal     NaN     NaN            600                0     0      0
3     Withdrawal     NaN     NaN           1000                0     0      0
4     Withdrawal     NaN     NaN           1000                0     0      0
...          ...     ...     ...            ...              ...   ...    ...
1195  Withdrawal     NaN     NaN             60                0     0      0
1196  Withdrawal     NaN     NaN            100                0     0      0
1197  Withdrawal     NaN     NaN             40                0     0      0
1198  Withdrawal     NaN     NaN            200                0     0      0
1199         NaN     NaN     NaN         323640              NaN   NaN    NaN

     nan$20 nan$50 nan$100 COINSTOTAL($)  nannan  nannan DISPENSEDTOTAL($)  \
0         0      0       1             0     NaN     NaN               100
1         3      0       0             0     NaN     NaN                60
2         0      0       6             0     NaN     NaN               600
3         0      0       0             0     NaN     NaN                 0
4         0      0      10             0     NaN     NaN              1000
...     ...    ...     ...           ...     ...     ...               ...
1195      3      0       0             0     NaN     NaN                60
1196      0      0       0             0     NaN     NaN                 0
1197      2      0       0             0     NaN     NaN                40
1198      0      0       2             0     NaN     NaN               200
1199    NaN    NaN     NaN     Completed     NaN     NaN            241360

      nanSTATUS
0     Completed
1     Completed
2     Completed
3        Denied
4     Completed
...         ...
1195  Completed
1196     Denied
1197  Completed
1198  Completed
1199        NaN

[1200 rows x 20 columns]
nannan               float64
CS25DATE & TIME       object
SEQUENCENUMBER        object
nanCARD#              object
HOSTSEQ NUMBER        object
TRANSTYPE             object
nannan               float64
nannan               float64
TRANSAMOUNT($)        object
DISPENSED QTYS$1      object
nan$5                 object
nan$10                object
nan$20                object
nan$50                object
nan$100               object
COINSTOTAL($)         object
nannan               float64
nannan               float64
DISPENSEDTOTAL($)     object
nanSTATUS             object
dtype: object
Transformacion Nulos

          CS25DATE & TIME    SEQUENCENUMBER nanCARD# HOSTSEQ NUMBER  \
0     08/23/2024 08:13:19  2024082308124108     7816           1452
1     08/23/2024 08:27:15  2024082308262908     9584           1453
2     08/23/2024 08:46:09  2024082308453408     4299           1454
3     08/23/2024 09:06:48  2024082309063308     2610            NaN
4     08/23/2024 09:08:19  2024082309074608     6718           1456
...                   ...               ...      ...            ...
1195  08/31/2024 04:15:39  2024083104150508     7577           2874
1196  08/31/2024 04:45:25  2024083104445708     6160            NaN
1197  08/31/2024 04:48:35  2024083104480808     1284           2877
1198  08/31/2024 05:10:02  2024083105092708     5484           2878
1199              Totals:               NaN      NaN            NaN

       TRANSTYPE TRANSAMOUNT($) DISPENSED QTYS$1 nan$5 nan$10 nan$20 nan$50  \
0     Withdrawal            100                0     0      0      0      0
1     Withdrawal             60                0     0      0      3      0
2     Withdrawal            600                0     0      0      0      0
3     Withdrawal           1000                0     0      0      0      0
4     Withdrawal           1000                0     0      0      0      0
...          ...            ...              ...   ...    ...    ...    ...
1195  Withdrawal             60                0     0      0      3      0
1196  Withdrawal            100                0     0      0      0      0
1197  Withdrawal             40                0     0      0      2      0
1198  Withdrawal            200                0     0      0      0      0
1199         NaN         323640              NaN   NaN    NaN    NaN    NaN

     nan$100 COINSTOTAL($) DISPENSEDTOTAL($)  nanSTATUS
0          1             0               100  Completed
1          0             0                60  Completed
2          6             0               600  Completed
3          0             0                 0     Denied
4         10             0              1000  Completed
...      ...           ...               ...        ...
1195       0             0                60  Completed
1196       0             0                 0     Denied
1197       0             0                40  Completed
1198       2             0               200  Completed
1199     NaN     Completed            241360        NaN

[1200 rows x 15 columns]
          CS25DATE & TIME    SEQUENCENUMBER nanCARD# HOSTSEQ NUMBER  \
0     08/23/2024 08:13:19  2024082308124108     7816           1452
1     08/23/2024 08:27:15  2024082308262908     9584           1453
2     08/23/2024 08:46:09  2024082308453408     4299           1454
3     08/23/2024 09:06:48  2024082309063308     2610              0
4     08/23/2024 09:08:19  2024082309074608     6718           1456
...                   ...               ...      ...            ...
1195  08/31/2024 04:15:39  2024083104150508     7577           2874
1196  08/31/2024 04:45:25  2024083104445708     6160              0
1197  08/31/2024 04:48:35  2024083104480808     1284           2877
1198  08/31/2024 05:10:02  2024083105092708     5484           2878
1199              Totals:                 0        0              0

       TRANSTYPE  TRANSAMOUNT($)  DISPENSED QTYS$1  nan$5  nan$10  nan$20  \
0     Withdrawal           100.0                 0      0       0       0
1     Withdrawal            60.0                 0      0       0       3
2     Withdrawal           600.0                 0      0       0       0
3     Withdrawal          1000.0                 0      0       0       0
4     Withdrawal          1000.0                 0      0       0       0
...          ...             ...               ...    ...     ...     ...
1195  Withdrawal            60.0                 0      0       0       3
1196  Withdrawal           100.0                 0      0       0       0
1197  Withdrawal            40.0                 0      0       0       2
1198  Withdrawal           200.0                 0      0       0       0
1199           0        323640.0                 0      0       0       0

      nan$50  nan$100 COINSTOTAL($)  DISPENSEDTOTAL($)  nanSTATUS
0          0        1             0              100.0  Completed
1          0        0             0               60.0  Completed
2          0        6             0              600.0  Completed
3          0        0             0                0.0     Denied
4          0       10             0             1000.0  Completed
...      ...      ...           ...                ...        ...
1195       0        0             0               60.0  Completed
1196       0        0             0                0.0     Denied
1197       0        0             0               40.0  Completed
1198       0        2             0              200.0  Completed
1199       0        0     Completed           241360.0          0

[1200 rows x 15 columns]

C:\Users\paula\AppData\Local\Temp\ipykernel_4868\792319441.py:33: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.fillna(0)

Archivo exportado exitosamente a C:\Users\paula\UNIR\MasterBigDatayVisualAnalytics\cuatrimestre2\TFM-TFE\Nueva carpeta\Files\Procesados\Concatenado2.xlsx

In [6]:
#SPARK

spark = SparkSession.builder.appName("LecturaArchivos").getOrCreate()

#Pandas a Spark

dfATM = spark.createDataFrame(df)

#Tranformación 1 - Nulos
# Eliminar columnas donde todos los valores son NaN
#print("Transformación Nulos\n")
#dfATM = dfATM.select([col_name for col_name in dfATM.columns if not dfATM.filter(col(col_name).isNotNull()).count() == 0])

dfATM.printSchema()
dfATM.show()

root
 |-- CS25DATE & TIME: string (nullable = true)
 |-- SEQUENCENUMBER: string (nullable = true)
 |-- nanCARD#: string (nullable = true)
 |-- HOSTSEQ NUMBER: string (nullable = true)
 |-- TRANSTYPE: string (nullable = true)
 |-- TRANSAMOUNT($): double (nullable = true)
 |-- COINSTOTAL($): string (nullable = true)
 |-- DISPENSEDTOTAL($): double (nullable = true)
 |-- nanSTATUS: string (nullable = true)

Py4JJavaError: An error occurred while calling o74.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 1.0 failed 1 times, most recent failure: Lost task 0.0 in stage 1.0 (TID 1) (DESKTOP-NPCO3PU executor driver): org.apache.spark.SparkException: Python worker exited unexpectedly (crashed)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator$$anonfun$1.applyOrElse(PythonRunner.scala:612)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator$$anonfun$1.applyOrElse(PythonRunner.scala:594)
	at scala.runtime.AbstractPartialFunction.apply(AbstractPartialFunction.scala:38)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:789)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:766)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:525)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:491)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:893)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:893)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: java.io.EOFException
	at java.base/java.io.DataInputStream.readInt(DataInputStream.java:397)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:774)
	... 26 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2856)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2792)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2791)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2791)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1247)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1247)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1247)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:3060)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2994)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2983)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:989)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2393)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2414)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2433)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:530)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:483)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:61)
	at org.apache.spark.sql.Dataset.collectFromPlan(Dataset.scala:4334)
	at org.apache.spark.sql.Dataset.$anonfun$head$1(Dataset.scala:3316)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$2(Dataset.scala:4324)
	at org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:546)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$1(Dataset.scala:4322)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:4322)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:3316)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:3539)
	at org.apache.spark.sql.Dataset.getRows(Dataset.scala:280)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:315)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: org.apache.spark.SparkException: Python worker exited unexpectedly (crashed)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator$$anonfun$1.applyOrElse(PythonRunner.scala:612)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator$$anonfun$1.applyOrElse(PythonRunner.scala:594)
	at scala.runtime.AbstractPartialFunction.apply(AbstractPartialFunction.scala:38)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:789)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:766)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:525)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:491)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:893)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:893)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	... 1 more
Caused by: java.io.EOFException
	at java.base/java.io.DataInputStream.readInt(DataInputStream.java:397)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:774)
	... 26 more

In [ ]:
# Transformación 2: Filtros
# Filtro: DISPENSEDTOTAL($) > 0 y TRANSTYPE != 'Balance inquiry'
dfATM_Completadas = dfATM.filter((dfATM['DISPENSEDTOTAL($)'] > 0) & (dfATM['TRANSTYPE'] != 'Balance inquiry'))



dfATM_Completadas_pd = dfATM_Completadas.toPandas()

# Guardar el DataFrame de Pandas en Excel
dfATM_Completadas_pd.to_excel(output_path3, index=False, engine='openpyxl')  # Usa openpyxl como motor
print(f"Archivo exportado exitosamente a {output_path3}")